/* Global Style */

* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    color: #181818;


}

body,
html {
    overflow-x: hidden;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}

.secondary-bg {
    background-color: #FFF8F3;
}

.primery-color {
    color: #FD6E0A;
}

.dark-1 {
    color: #474747;
}

.btn {
    background-color: #FD6E0A;
    padding: 17px 34px;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    font-weight: 700;
    border: 0;
    cursor: pointer;
    border: 1px solid #FD6E0A;
    transition: all 0.3s ease;
}

.btn a {
    text-decoration: none;
    color: white;
    transition: all 0.3s ease;
}

.btn-secondary {
    border: 1px solid #FD6E0A;
    background-color: transparent;
    color: #FD6E0A;
    padding: 17px 34px;
    transition: all 0.3s ease;
}

.btn-secondary a {
    color: #FD6E0A;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: transparent;
    color: #FD6E0A;
}

.btn:hover a {
    color: #FD6E0A;
}

.btn-secondary:hover {
    background-color: #FD6E0A;
    color: white;
}

.btn-secondary:hover a {
    color: white;
}


.title {
    font-size: 35px;
    font-weight: 700;
    line-height: 48px;
}

.description {
    color: #757575;
    font-style: 18px;
    line-height: 30px;
}

.text-center {
    text-align: center;
}


/* Header Style */

.header {
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

nav {
    display: flex;
    align-items: center;
    padding: 50px 20px 0 20px;
    justify-content: space-between;
    gap: 50px;
    margin: auto;
    max-width: 1140px;

}

.header h1 {
    font-size: 45px;
    font-weight: 800;
    line-height: 61px;
}

.header ul {
    display: flex;
    gap: 50px;
    align-items: center;
}

.header ul li {
    list-style: none;
}

.header li a {
    text-decoration: none;
    transition: all 0.3s ease;
}

.header li:hover a {
    color: #FD6E0A;
}

/* banner style */



.banner {
    max-width: 1140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    gap: 20px;
    padding: 0 20px;
    height: 725px;


}

.banner-content {
    width: 585px;

}

.banner-greetings {
    font-size: 45px;
    font-weight: 600;
    line-height: 61px;
}

.banner-title {
    font-size: 85px;
    font-weight: bold;
    line-height: 116px;
    margin-bottom: 5px 0 20px;
}

.banner .description {
    margin-bottom: 30px;
}

.banner-content .btn {
    margin: 0 30px 30px 0;
}

.banner img {
    margin-right: -150px;
    margin-bottom: -53px;

}

/* About */

.about {
    max-width: 1140px;
    margin: 130px auto;
    padding: 0 20px;

}

.about-details {
    background-color: #FFF8F3;
    border-radius: 10px;
    text-align: center;
    padding: 130px 156px;
}

.about-content {
    background-color: white;
    border: 1px solid #000;
    padding: 10px;
}

.about-content .description {
    margin: 30px 0;
}

.about-items {
    display: flex;
    justify-content: space-around;

}



.about-item .item-title {
    font-size: 20px;
    line-height: 30px;
    color: #757575;

}

.about-item .item-description {
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    color: #757575;
}


/* Skill */

.skills {
    padding-bottom: 130px;
}

.skills .description {
    max-width: 909px;
    margin: 30px auto;
}

.skills-container {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.skill {
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
    padding: 30px;
}

.skill .skill-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    margin: 30px 0 20px;
}

.skill .skill-description {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;

}

/* resume*/

.resume {
    padding-bottom: 113px;
}

.resume-container {
    display: flex;
    justify-content: space-around;
    gap: 70px;
    margin: 110px 0 50px;

}

.resume-container hr {
    margin: 30px 0;
    border: 1px solid rgb(209, 209, 209);
}

.resume-column-title {
    color: rgb(71, 71, 71);
    font-size: 30px;
    font-weight: 700;
    line-height: 41px;
    margin-bottom: 30px;
}

.experience-title {
    color: rgb(71, 71, 71);
    font-size: 25px;
    font-weight: 700;
    line-height: 34px;
}

.experience-sub-title {
    color: rgb(117, 117, 117);
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    margin: 10px 0 20px;
}

.experience-descriptiop {
    color: rgb(117, 117, 117);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;

}